*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
      display: flex;
      height: 100vh;
      justify-content: center;
      align-items: center;
      background-color:rgba(172, 255, 47, 0.747) ;
}

.container{
    width: 40%;
    min-width: 350px;
    background-color: white;
    max-height: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

#newtask{
    position: relative;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
}

#taskinfo{
    width: 75%;
    height: 35px;
    border: 3px solid #d1d3d8;
    border-radius: 7px;
    color: #111115;
    font-weight: 500;
    padding-left: 7px;
}

#taskinfo:focus{
    outline: none;
    border-color: #0d75ec;
}

#add{
    width: 20%;
    height: 40px;
    border-radius: 6px;
    font-weight: 500;
    background-color: rgba(172, 255, 47, 0.673);
    border: none;
    color: black;
    cursor: pointer;
    outline: none;
    border: none;
}
#tasklist{
    margin-bottom: 10px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c5e1e6;
    height: 45px;
    margin-bottom: 10px;
    padding: 6px 12px;
    cursor: pointer;
    width: 100%;
    border-radius: 6px;
    border: 2px solid #939697;

}
.del{
    color: #d11a2a;
    border-radius: 5px;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
}